<table class="table table-striped table-hover">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>
          <a routerLink="{{ user.id }}">
            {{ user.firstName }} {{ user.lastName }}</a
          >
        </td>
        <td>{{ user.emailAdress }}</td>
      </tr>
    </tbody>
</table>
<div class="divider"></div>
<table class="table table-striped table-hover">
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Content</th>
    <th>User name</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>
        <a routerLink="{{ post.id }}">
          {{ post.titel }}</a
        >
      </td>
      <td style="max-width: 500px;">{{ post.content }}</td>
      <td>{{ post.user.firstName }} {{ post.user.lastName }}</td>
    </tr>
  </tbody>
</table>
